 
<ion-content class="ion-padding" style="--background-color: black;">
  <div class="custom-image-container">
    <ion-img class="custom-image" src='../../assets/sevent.png'></ion-img>
  </div>

<div class="text"><label >Login In</label></div>
<div class="login ion-padding">
  <ion-input label="Ingrese su correo electrónico" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>

  <br />
  
  <ion-input label="Su contraseña" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
</div>

<ion-row class="ion-justify-content-center ion-align-items-center " style="height: 10%, ;">
  <ion-col size="34" class="container ion-text-center" >
    <ion-button class="mi-boton ">Login In</ion-button>
  </ion-col>
</ion-row>
<div class="text"><label >Sign In with</label></div>
</ion-content>
